---

---

<script>
  /* const widgets = document.querySelectorAll('[data-widget]') as NodeListOf<HTMLElement>;

  

  widgets.forEach((widget: HTMLElement, index) => {
    const width = widget.clientWidth;
    const height = widget.clientHeight;
    const top = widget.offsetTop;
    const left = widget.offsetLeft;

    const createMasonry = () => {
      const columns = Math.floor(window.innerWidth / width);
      const margin = 16;
      const columnHeights = Array.from({ length: columns }, () => 0);
      widget.style.position = 'absolute';
      widget.style.width = `${width}px`;
      widget.style.height = `${height}px`;
      widget.style.top = `${columnHeights.reduce((acc, cur, i) => cur < columnHeights[acc] ? i : acc, 0) * (height + margin) + margin}px`;
      widget.style.left = `${columnHeights.reduce((acc, cur, i) => cur < columnHeights[acc] ? i : acc, 0) * (width + margin) + margin}px`;
      columnHeights[columnHeights.reduce((acc, cur, i) => cur < columnHeights[acc] ? i : acc, 0)] += height + margin;
    };

    createMasonry();

    
});

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      const widget = entry.target as HTMLElement;
      if (entry.isIntersecting) {
        widget.style.position = 'static';
        widget.style.width = 'auto';
        widget.style.height = 'auto';
        widget.style.top = 'auto';
        widget.style.left = 'auto';
      } else {
        widget.style.position = 'absolute';
        widget.style.width = `${widget.clientWidth}px`;
        widget.style.height = `${widget.clientHeight}px`;
        widget.style.top = `${widget.offsetTop}px`;
        widget.style.left = `${widget.offsetLeft}px`;
      }
    });
  });

  widgets.forEach(widget => {
    observer.observe(widget);

  });
   */
</script>

<div class="w-full">

  <div class="flex flex-col relative z-[1]">

    <div class="flex justify-start w-full gap-3">
      <article class="flex-none w-[290px] border shadow-sm overflow-hidden break-inside grid grid-cols-12 rounded-xl mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-widget>
        <img class="w-full max-w-full h-[6.5rem] object-cover col-span-5" src="https://images.pexels.com/photos/3182452/pexels-photo-3182452.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=2" data-author="Alex Azabache" data-author-profile="https://www.pexels.com/es-es/@alexazabache/" loading="lazy">
        <div class="h-full flex items-center col-span-7">
          <div class="p-4 flex items-center gap-3 relative -ml-[3rem]">
            <img class="flex-none mt-1 w-14 h-14 rounded-full border-2 border-white dark:border-gray-950" src="https://randomuser.me/api/portraits/men/95.jpg" alt="avatar" loading="lazy">
            <div class="flex flex-col">
              <a href="#" class="text-base font-semibold block">Roman</a>
              <span class="text-gray-600 dark:text-gray-400">Photographer</span>
            </div>
          </div>
        </div>
      </article>
      <article class="flex-none w-[290px] border shadow-sm break-inside grid grid-cols-12 rounded-xl overflow-hidden mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="multimedia">
        <figure class="col-span-5 relative">
          <div class="absolute left-4 bottom-4 rounded-sm text-xs py-1 px-2 text-white bg-black/60 backdrop-blur-sm">April, 2018</div>
          <img src="https://images.pexels.com/photos/5152572/pexels-photo-5152572.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=2" alt="Imagen" class="w-full h-full object-cover" loading="lazy">
        </figure>
        <section class="col-span-7 flex flex-col justify-between p-3 flex-1">
          <h2 class="text-base font-medium leading-5">Comme my and Boomerang</h2>
          <div class="flex flex-row justify-between items-center space-x-2">
            <p class="flex-1 text-xs leading-4">Justine Forever - feder and Therapie</p>
            <button class="flex flex-none items-center justify-center rounded-full w-8 h-8 bg-yellow-400 text-black">
              <svg width="22" height="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </section>
      </article>
      <article class="flex-none w-[290px] border shadow-sm break-inside grid grid-cols-12 rounded-xl overflow-hidden mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="food">
        <div class="flex-none col-span-4">
          <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/691114/pexels-photo-691114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="avatar" loading="lazy">
        </div>
        <section class="col-span-8 flex justify-between flex-col p-3 gap-3">
          <header class="flex flex-row justify-between items-start">
            <h2 class="font-medium"> Spaghetti with tomato sauce and basil</h2>
          </header>
          <div class="flex items-center justify-between w-full">
            <span class="font-semibold text-base">18,99€</span>
            <div class="flex items-center justify-between rounded p-1 gap-3 bg-gray-200 dark:bg-gray-800">
              <button class="flex flex-none items-center justify-center gap-1 font-medium text-lg rounded h-5 w-5 transition-colors duration-200 bg-white dark:bg-gray-600">
                &#8722;
              </button>
              <span class="font-semibold text-xs">1</span>
              <button class="flex flex-none items-center justify-center gap-1 font-medium text-lg rounded h-5 w-5 transition-colors duration-200 bg-white dark:bg-gray-600">
                &#43;
              </button>
            </div>
          </div>
        </section>
      </article>
      <article class="flex-none w-[290px] border shadow-sm break-inside flex flex-col rounded-xl mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="finance">
        <header class="flex flex-row justify-between items-start w-full p-3 gap-4 relative z-[1]">
          <div class="flex items-center gap-2">
            <h2 class="font-bold text-lg mb-1 leading-6">Finances</h2>
          </div>
        </header>
        <div class="w-full -mt-12 relative">
          <span class="absolute top-[55px] left-[45px] flex h-3 w-3">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-rose-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 border-2 border-white bg-rose-500 dark:border-gray-950"></span>
          </span>
          <span class="absolute bottom-4 right-6 flex-none text-base font-semibold">76%</span>
          <svg class="w-full" viewBox="0 0 156 54" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 35.2121C1.12193 35.7084 2.05287 36.4465 3.15467 36.9127C3.88018 37.2197 4.96816 37.139 5.33694 37.8731C5.78171 38.7584 6.41334 37.1208 6.84078 36.7427C7.35846 36.2847 8.0534 35.1306 8.75167 35.3022C11.4731 35.971 14.5286 35.7848 17.3224 35.7523C17.6226 35.7488 17.9104 35.5687 17.9104 35.8724C17.9104 35.9323 17.9191 36.0299 17.9164 36.1291C18.3683 35.944 19.053 35.7572 19.1768 35.7523C20.6722 35.6935 21.0695 36.6679 22.2975 37.2528C23.2021 37.6838 23.2021 38.1814 23.2021 37.0128C23.2021 35.6556 24.0027 35.3695 24.8303 34.3118C25.1311 33.9274 25.4288 33.5039 25.9497 33.4015C26.5891 33.2758 27.1368 33.243 27.8154 33.2114C30.881 33.0687 33.9468 32.5976 36.9289 31.971C38.3957 31.6628 39.862 31.3127 41.2934 30.8906C41.6774 30.7773 41.6134 31.478 41.7231 31.7509C41.8505 32.068 42.5107 34.0517 42.7407 34.0517C42.8236 34.0517 42.7407 33.905 42.7407 33.8316V32.8113C42.7407 32.182 42.8631 31.787 43.2608 31.2507C43.6045 30.7875 45.7737 28.5386 46.0989 29.21C46.4428 29.9198 46.4557 30.5161 46.9696 31.1707C47.0957 31.3314 47.2004 31.786 47.2296 31.4108C47.276 30.8159 47.1736 29.3852 47.7271 28.9499C48.1423 28.6234 50.4124 33.7413 50.7913 34.4118C50.8749 34.5597 51.4545 35.7515 51.7411 35.3922C52.3142 34.674 53.4118 34.1187 54.1495 33.5815C55.9224 32.2907 57.4928 30.8434 59.1925 29.4901C59.3229 29.3863 59.8755 29.4777 59.7126 29.4201C59.1512 29.2214 59.8806 28.1863 59.984 27.9796C60.7619 26.4247 61.2675 24.79 61.827 23.1679C62.0575 22.4997 62.6297 21.7287 62.6864 21.0271C62.7081 20.7579 62.5243 19.9876 62.8899 19.9067C63.3145 19.8128 63.0628 18.5414 63.1047 18.2261C63.168 17.7501 63.6596 18.91 63.6814 18.9464C64.3669 20.0893 64.9188 21.2579 65.5358 22.4276C65.6835 22.7077 66.0959 24.9687 66.4856 24.6784C67.4868 23.9325 68.1285 22.8128 69.1427 22.0475C70.2353 21.223 70.6307 23.3734 70.8388 23.9581C71.5045 25.829 73.5756 31.4204 72.908 29.5501C72.6058 28.7035 74.1901 27.2634 74.8528 26.8292C75.0807 26.6798 75.3292 26.7757 75.4973 26.9492C75.9782 27.4456 76.0081 27.0539 76.6167 26.6891C78.3694 25.6387 78.9067 30.3861 79.9749 29.5001C80.2389 29.2812 80.3132 28.7752 80.642 28.6298C81.2229 28.3728 81.9908 29.8405 82.1798 30.1303C82.247 30.2335 82.7905 31.2581 83.0391 31.1207C83.4397 30.8992 83.5218 30.7105 84.0567 30.7105C85.5083 30.7105 85.7936 32.3676 86.2503 33.4115C86.7384 34.527 87.4071 35.1912 88.1951 36.1124C88.4976 36.4661 88.1275 35.7882 88.263 35.2321C88.6731 33.5484 89.9177 32.3477 91.248 31.1707C91.4066 31.0304 91.5497 30.6721 91.7908 30.7906C92.3756 31.078 93.0648 28.0325 93.125 27.7895C93.1857 27.5445 93.5668 24.2433 93.8713 24.2582C94.767 24.3023 95.4483 26.6541 95.7369 27.2093C95.9907 27.6972 96.2507 28.3009 96.7207 27.6394C97.5846 26.4234 97.918 24.7089 99.0047 23.648C99.5343 23.131 99.8986 23.9357 100.181 24.2282C100.638 24.7027 101.234 24.0552 101.651 23.8281C102.818 23.1913 104.902 21.5496 105.947 22.9178C106.347 23.4417 106.663 24.1263 107.214 24.5483C107.776 24.9795 108.692 23.1065 108.91 22.8678C109.743 21.9538 110.916 21.4318 111.85 20.627C112.32 20.2215 112.659 19.7113 113.274 19.4465C113.598 19.307 113.885 19.5045 114.066 19.7366C114.583 20.402 115.569 17.7932 115.75 17.4258C116.429 16.0492 116.594 17.5072 117.695 16.9056C120.594 15.3215 124.628 15.045 127.973 15.045C128.215 15.045 128.078 15.0317 127.973 14.9049C127.701 14.574 128.378 14.0083 128.539 13.7445C128.933 13.0974 129.068 12.261 129.353 11.5737C129.443 11.3559 129.67 10.3633 130.054 10.3633C130.72 10.3633 131.718 12.6542 131.953 13.0443C132.34 13.6843 133.31 15.8144 134.215 16.1054C134.401 16.1653 135.866 11.3414 136.058 10.8135C136.186 10.4619 136.627 9.01776 137.177 8.86279C137.448 8.78656 138.345 10.2279 138.512 10.4233C138.52 10.4328 138.527 10.442 138.535 10.4508C138.494 10.3806 138.458 10.3001 138.444 10.2233C138.347 9.69988 138.842 9.23517 139.326 9.00284C140.226 8.57054 141.178 9.81554 141.723 10.2333C142.357 10.7192 144.434 11.2956 144.979 10.5234C146.128 8.89668 145.725 7.5836 145.725 5.78169C145.725 5.375 146.782 4.62733 147.15 4.46123C148.144 4.01306 148.545 4.7615 149.072 5.44157C149.408 5.87513 150.401 7.75245 151.085 7.86243C151.397 7.91259 150.99 7.29903 151.04 7.02213C151.148 6.42555 151.637 5.97194 152.024 5.5016C152.526 4.88998 152.985 4.08963 153.754 3.70096C154.092 3.52983 154.448 2.74764 154.839 2.48052C155.147 2.27048 155.682 1.93861 155.902 1.58023V1C156.046 1.19134 156.019 1.38954 155.902 1.58023V53.9024H0V35.2121Z" fill="url(#deuwe8dhwe)"/>
            <path d="M0 35.2121C1.12193 35.7084 2.05287 36.4465 3.15467 36.9127C3.88018 37.2197 4.96816 37.139 5.33694 37.8731C5.78171 38.7584 6.41334 37.1208 6.84078 36.7427C7.35846 36.2847 8.0534 35.1306 8.75167 35.3022C11.4731 35.971 14.5286 35.7848 17.3224 35.7523C17.6226 35.7488 17.9104 35.5687 17.9104 35.8724C17.9104 36.0498 17.9868 36.5562 17.6164 36.4626C17.05 36.3194 18.9616 35.7608 19.1768 35.7523C20.6722 35.6935 21.0695 36.6678 22.2975 37.2528C23.2021 37.6838 23.2021 38.1814 23.2021 37.0128C23.2021 35.6556 24.0027 35.3695 24.8303 34.3118C25.1311 33.9274 25.4288 33.5039 25.9497 33.4015C26.5891 33.2758 27.1368 33.243 27.8154 33.2114C30.881 33.0687 33.9468 32.5976 36.9289 31.971C38.3957 31.6628 39.862 31.3127 41.2934 30.8906C41.6774 30.7773 41.6134 31.478 41.7231 31.7509C41.8505 32.068 42.5107 34.0517 42.7407 34.0517C42.8236 34.0517 42.7407 33.905 42.7407 33.8316C42.7407 33.4915 42.7407 33.1514 42.7407 32.8113C42.7407 32.182 42.8631 31.787 43.2608 31.2507C43.6045 30.7875 45.7737 28.5386 46.0989 29.21C46.4428 29.9198 46.4557 30.516 46.9696 31.1707C47.0957 31.3314 47.2004 31.786 47.2296 31.4108C47.276 30.8159 47.1736 29.3852 47.7271 28.9499C48.1423 28.6234 50.4124 33.7413 50.7913 34.4118C50.8749 34.5597 51.4545 35.7515 51.7411 35.3922C52.3142 34.674 53.4118 34.1187 54.1495 33.5815C55.9224 32.2907 57.4928 30.8434 59.1925 29.4901C59.3229 29.3863 59.8755 29.4777 59.7126 29.4201C59.1512 29.2214 59.8806 28.1863 59.984 27.9796C60.7619 26.4247 61.2675 24.79 61.8271 23.1679C62.0575 22.4997 62.6297 21.7287 62.6864 21.0271C62.7081 20.7579 62.5243 19.9876 62.8899 19.9067C63.3145 19.8128 63.0628 18.5414 63.1047 18.2261C63.168 17.7501 63.6596 18.91 63.6814 18.9464C64.3669 20.0893 64.9188 21.2579 65.5358 22.4276C65.6835 22.7077 66.0959 24.9687 66.4856 24.6784C67.4868 23.9325 68.1285 22.8128 69.1427 22.0475C70.2353 21.223 70.6307 23.3734 70.8388 23.9581C71.5045 25.829 73.5756 31.4204 72.908 29.5501C72.0659 27.1911 75.5473 27.33 76.6167 26.6891C78.3694 25.6387 78.9067 30.3861 79.9749 29.5001C80.2389 29.2812 80.3132 28.7752 80.642 28.6298C81.2229 28.3728 81.9908 29.8405 82.1798 30.1303C82.247 30.2335 82.7905 31.2581 83.0391 31.1207C83.4397 30.8992 83.5218 30.7105 84.0567 30.7105C85.5083 30.7105 85.7936 32.3676 86.2503 33.4115C86.7384 34.527 87.4071 35.1911 88.1951 36.1124C88.4976 36.4661 88.1275 35.7882 88.263 35.2321C88.6731 33.5484 89.9177 32.3477 91.248 31.1707C91.4066 31.0304 91.5497 30.6721 91.7908 30.7906C92.3756 31.078 93.0648 28.0325 93.125 27.7895C93.1857 27.5445 93.5668 24.2433 93.8713 24.2582C94.767 24.3023 95.4483 26.6541 95.7369 27.2093C95.9907 27.6972 96.2507 28.3009 96.7207 27.6394C97.5846 26.4234 97.918 24.7089 99.0047 23.648C99.0383 23.6152 105.641 22.5174 105.947 22.9178C106.347 23.4416 106.663 24.1263 107.214 24.5483C107.776 24.9795 108.692 23.1065 108.91 22.8677C109.743 21.9538 110.916 21.4318 111.85 20.627C112.32 20.2215 112.659 19.7113 113.274 19.4465C113.598 19.307 113.885 19.5045 114.066 19.7366C114.583 20.402 115.569 17.7932 115.75 17.4258C116.429 16.0492 116.594 17.5072 117.695 16.9056C120.594 15.3215 124.628 15.045 127.973 15.045C128.215 15.045 128.078 15.0317 127.973 14.9049C127.701 14.574 128.378 14.0083 128.539 13.7445C128.933 13.0974 129.068 12.261 129.353 11.5737C129.443 11.3559 129.67 10.3633 130.054 10.3633C130.72 10.3633 131.718 12.6542 131.953 13.0443C132.34 13.6843 133.31 15.8144 134.215 16.1054C134.401 16.1653 135.866 11.3414 136.058 10.8135C136.186 10.4619 136.627 9.01776 137.177 8.86279C137.448 8.78656 138.345 10.2279 138.512 10.4233C138.918 10.8994 138.501 10.5322 138.444 10.2233C138.347 9.69988 138.842 9.23517 139.326 9.00284C140.226 8.57054 141.178 9.81554 141.723 10.2333C142.357 10.7192 144.434 11.2956 144.979 10.5234C146.128 8.89668 145.725 7.5836 145.725 5.78169C145.725 5.375 146.782 4.62733 147.15 4.46123C148.144 4.01306 148.545 4.76149 149.072 5.44157C149.408 5.87513 150.401 7.75245 151.085 7.86243C151.397 7.91259 150.99 7.29903 151.04 7.02213C151.148 6.42555 151.637 5.97194 152.024 5.5016C152.526 4.88998 152.985 4.08963 153.754 3.70096C154.092 3.52983 154.448 2.74764 154.839 2.48052C155.31 2.15871 156.317 1.55092 155.902 1" stroke="url(#9845t43mcf)" stroke-linecap="round"/>
            <defs>
              <linearGradient id="deuwe8dhwe" x1="78" y1="-5.9092" x2="78" y2="53.9024" gradientUnits="userSpaceOnUse">
                <stop offset="0.144057" stop-color="#D60F63" stop-opacity="0.22"/>
                <stop offset="0.983952" stop-color="white" stop-opacity="0"/>
              </linearGradient>
              <linearGradient id="9845t43mcf" x1="153.629" y1="4.07508" x2="9.25031" y2="54.8124" gradientUnits="userSpaceOnUse">
                <stop offset="0.161546" stop-color="#D60F27"/>
                <stop offset="1" stop-color="#EA0FBA"/>
              </linearGradient>
            </defs>
          </svg>
        </div>
      </article>
      
      
      
    </div>

    <div class="flex justify-start items-start w-full gap-3">

      <article class="flex-none w-[140px] border shadow-sm break-inside flex items-start flex-col justify-between rounded-xl gap-2 p-4 mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-widget>
        <header>
          <svg width="26" height="26" viewBox="0 0 512 512"><path d="M384 240H96V136a40.12 40.12 0 0140-40h240a40.12 40.12 0 0140 40v104zM48 416V304a64.19 64.19 0 0164-64h288a64.19 64.19 0 0164 64v112" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path><path d="M48 416v-8a24.07 24.07 0 0124-24h368a24.07 24.07 0 0124 24v8M112 240v-16a32.09 32.09 0 0132-32h80a32.09 32.09 0 0132 32v16M256 240v-16a32.09 32.09 0 0132-32h80a32.09 32.09 0 0132 32v16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path></svg>
        </header>
        <section>
          <h2 class="text-sm font-medium">Bed time</h2>
          <h3 class="text-base font-semibold">10:00 PM</h3>
        </section>
        <p class="text-xs text-gray-500">Set your bedtime and wake up time...</p>
      </article>

      <article class="flex-none w-[300px] border shadow-sm break-inside relative overflow-hidden flex flex-col items-start rounded-xl mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
        <div class="flex flex-col pb-4 group">
          <header class="flex items-center justify-start gap-3 pl-4 pt-4 pb-2 pr-12">
            <a class="inline-block" href="#">
              <img class="rounded-full max-w-none w-8 h-8" src="https://randomuser.me/api/portraits/women/75.jpg" alt="Avatar" />
            </a>
            <div class="flex items-center gap-2 w-full flex-1">
              <a class="text-lg font-medium" href="#">Natalia</a>
              <span class="text-xs text-gray-500 dark:text-gray-300">3 minutes ago</span>
            </div>
            <button class="hidden absolute right-4 top-3 group-hover:flex items-center justify-center rounded-full w-8 h-8 transition-colors duration-200 hover:bg-gray-200 dark:hover:bg-gray-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
              </svg>
            </button>
          </header>
          <section class="relative px-4">
            <p class="text-xs"> Dolor sit ameteiusmod consectetur adipi scing elit. Nulla nec purus feugiat, vestibulum...</p>
            <footer class="flex items-center justify-between w-full mt-2">
              <div class="flex items-center justify-start gap-2">
                <a class="inline-flex items-center py-2 mr-3" href="#">
                  <span class="mr-2">
                    <svg class="fill-rose-600" width="18" height="18" viewBox="0 0 24 24">
                      <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
                    </svg>
                  </span>
                  <span class="font-bold">2</span>
                </a>
                <button class="py-1 px-2 text-sm font-medium hover:bg-gray-50 dark:hover:bg-gray-900 rounded-md" >Repply</button>
              </div>
              <a class="inline-flex items-center">
                <span class="-m-1 rounded-full border-2 border-white dark:border-slate-800">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 16 16" fill="none">
                    <path fill="url(#a12)" d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0Z"></path>
                    <path fill="#fff" d="M12.162 7.338c.176.123.338.245.338.674 0 .43-.229.604-.474.725.1.163.132.36.089.546-.077.344-.392.611-.672.69.121.194.159.385.015.62-.185.295-.346.407-1.058.407H7.5c-.988 0-1.5-.546-1.5-1V7.665c0-1.23 1.467-2.275 1.467-3.13L7.361 3.47c-.005-.065.008-.224.058-.27.08-.079.301-.2.635-.2.218 0 .363.041.534.123.581.277.732.978.732 1.542 0 .271-.414 1.083-.47 1.364 0 0 .867-.192 1.879-.199 1.061-.006 1.749.19 1.749.842 0 .261-.219.523-.316.666ZM3.6 7h.8a.6.6 0 0 1 .6.6v3.8a.6.6 0 0 1-.6.6h-.8a.6.6 0 0 1-.6-.6V7.6a.6.6 0 0 1 .6-.6Z"></path>
                    <defs>
                      <linearGradient id="a12" x1="8" x2="8" y2="16" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#18AFFF"></stop>
                        <stop offset="1" stop-color="#0062DF"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </span>
                <span class="-m-1 rounded-full border-2 border-white dark:border-slate-800">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 16 16" fill="none">
                    <path fill="url(#b1231)" d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0Z"></path>
                    <path fill="#fff" d="M10.473 4C8.275 4 8 5.824 8 5.824S7.726 4 5.528 4c-2.114 0-2.73 2.222-2.472 3.41C3.736 10.55 8 12.75 8 12.75s4.265-2.2 4.945-5.34c.257-1.188-.36-3.41-2.472-3.41Z"></path>
                    <defs>
                      <linearGradient id="b1231" x1="8" x2="8" y2="16" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF6680"></stop>
                        <stop offset="1" stop-color="#E61739"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </span>
                <span class="-m-1 rounded-full border-2 border-white dark:border-slate-800">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 16 16" fill="none">
                    <path fill="url(#aa)" d="M16 8A8 8 0 1 1-.001 8 8 8 0 0 1 16 8"></path>
                    <path fill="url(#bb)" d="M3 8.008C3 10.023 4.006 14 8 14c3.993 0 5-3.977 5-5.992C13 7.849 11.39 7 8 7c-3.39 0-5 .849-5 1.008Z"></path>
                    <path fill="url(#cc)" d="M4.541 12.5c.804.995 1.907 1.5 3.469 1.5 1.563 0 2.655-.505 3.459-1.5-.551-.588-1.599-1.5-3.459-1.5s-2.917.912-3.469 1.5Z"></path>
                    <path fill="#2A3755" d="M6.213 4.144c.263.188.502.455.41.788-.071.254-.194.369-.422.37-.78.012-1.708.256-2.506.613-.065.029-.197.088-.332.085-.124-.003-.251-.058-.327-.237-.067-.157-.073-.388.276-.598.545-.33 1.257-.48 1.909-.604-.41-.303-.85-.56-1.315-.768-.427-.194-.38-.457-.323-.6.127-.317.609-.196 1.078.026a9 9 0 0 1 1.552.925Zm3.577 0a8.955 8.955 0 0 1 1.55-.925c.47-.222.95-.343 1.078-.026.057.143.104.406-.323.6a7.028 7.028 0 0 0-1.313.768c.65.123 1.363.274 1.907.604.349.21.342.44.276.598-.077.18-.203.234-.327.237-.135.003-.267-.056-.332-.085-.797-.357-1.725-.6-2.504-.612-.228-.002-.351-.117-.422-.37-.091-.333.147-.6.41-.788v-.001Z"></path>
                    <defs>
                      <linearGradient id="aa" x1="8" x2="8" y1="1.64" y2="16" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FEEA70"></stop>
                        <stop offset="1" stop-color="#F69B30"></stop>
                      </linearGradient>
                      <linearGradient id="bb" x1="8" x2="8" y1="7" y2="14" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#472315"></stop>
                        <stop offset="1" stop-color="#8B3A0E"></stop>
                      </linearGradient>
                      <linearGradient id="cc" x1="8.005" x2="8.005" y1="11" y2="13.457" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FC607C"></stop>
                        <stop offset="1" stop-color="#D91F3A"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </span>
                <span class="font-bold ml-3">33</span>
              </a>
            </footer>
          </section>
        </div>
      </article>
      <article class="flex-none w-[120px] border flex group flex-col items-center justify-between overflow-hidden text-sm bg-white text-black dark:bg-gray-900 dark:text-white rounded-xl mb-4 dark:border-gray-900">
        <div class="relative overflow-hidden max-h-[4.4rem] z-0">
          <button class="z-[1] absolute right-2 top-2 flex items-center justify-center rounded-full p-0.5 transition-colors duration-200 bg-white text-black">
            <svg width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z" fill="currentColor"></path>
            </svg>
          </button>
          <button class="z-[1] flex items-center justify-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full w-9 h-9 transition-colors duration-200 text-white bg-black/80 hover:bg-black">
            <svg width="18" height="18" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M6.3 2.84A1.5 1.5 0 0 0 4 4.11v11.78a1.5 1.5 0 0 0 2.3 1.27l9.344-5.891a1.5 1.5 0 0 0 0-2.538L6.3 2.841Z"></path>
            </svg>
          </button>
          <img src="https://images.pexels.com/photos/185030/pexels-photo-185030.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=2" class="object-cover transition-all duration-300 w-full h-full group-hover:scale-110" alt="cover" loading="lazy" />
        </div>
        <div class="flex flex-col items-start w-full p-3 space-y-2">
          <header>
            <h2 class="font-medium">You Know</h2>
          </header>
          <button class="flex items-center justify-center text-xs rounded-full px-2 py-1 space-x-1 bg-black text-white dark:bg-white dark:text-black">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="14" height="14"><path fill="currentColor" d="M12.152 6.896c-.948 0-2.415-1.078-3.96-1.04-2.04.027-3.91 1.183-4.961 3.014-2.117 3.675-.546 9.103 1.519 12.09 1.013 1.454 2.208 3.09 3.792 3.039 1.52-.065 2.09-.987 3.935-.987 1.831 0 2.35.987 3.96.948 1.637-.026 2.676-1.48 3.676-2.948 1.156-1.688 1.636-3.325 1.662-3.415-.039-.013-3.182-1.221-3.22-4.857-.026-3.04 2.48-4.494 2.597-4.559-1.429-2.09-3.623-2.324-4.39-2.376-2-.156-3.675 1.09-4.61 1.09zM15.53 3.83c.843-1.012 1.4-2.427 1.245-3.83-1.207.052-2.662.805-3.532 1.818-.78.896-1.454 2.338-1.273 3.714 1.338.104 2.715-.688 3.559-1.701"></path>
            </svg>
            <span>Music</span>
          </button>
        </div>
      </article>
      <article class="flex-none w-[290px] border break-inside flex flex-col items-start relative overflow-hidden rounded-xl p-4 mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
        <div class="absolute left-1/2 top-0 w-14 h-14 bg-rose-500/30 blur-2xl"></div>
        <div class="absolute right-0 top-0 w-14 h-14 bg-yellow-500/40 blur-2xl"></div>
        <header class="flex items-center w-full">
          <svg width="28" height="28" fill="none" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z"></path>
          </svg>
        </header>
        <section class="mt-4 space-y-1">
          <h2 class="text-lg font-semibold block">Your <span class="text-rose-500">favorite</span> pack</h2>
          <p class="text-sm text-gray-600 dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
        </section>
      </article>
      <article class="flex-none w-[120px] border shadow-sm break-inside flex items-start flex-col justify-between rounded-xl gap-2 p-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
        <header>
          <svg width="26" height="26" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="fill-rose-600">
            <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z"></path>
          </svg>
        </header>
        <section>
          <h2 class="text-sm">Events</h2>
          <h3 class="text-lg font-semibold text-rose-600">Favorites</h3>
        </section>
        <div class="flex items-center justify-between w-full mt-3">
          <span class="flex items-center justify-center h-5 px-1 gap-1 rounded text-sm bg-red-100/90 text-red-600 dark:bg-red-600/40 dark:text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 7l9.2 9.2M17 7v10H7"/></svg>
            <span class="text-xs mt-[1px] font-medium text-red-800 dark:text-red-500">15%</span>
          </span>
          <h5 class="font-medium">23</h5>
        </div>
      </article>
    </div>
    
    <div class="flex justify-start items-start w-full gap-3">
      
      <article class="flex-none w-[300px] border shadow-sm break-inside flex items-center flex-row justify-between rounded-xl p-3 mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-widget>
        <header class="flex flex-col items-start gap-1.5">
          <span class="uppercase text-xs font-medium text-gray-600 dark:text-gray-400">CURRENT PRICE</span>
          <div class="flex items-center justify-center gap-2">
            <h2 class="text-sm sm:text-base font-semibold">€45.00</h2>
            <span class="px-2 py-[2px] text-xs rounded-sm bg-[#D1FFD6] text-black">-082%</span>
          </div>
          <p class="mt-1 text-xs text-gray-500">Update now - 3:23AM</p>
        </header>
        <section class="flex flex-col gap-2 max-w-[7rem]">
          <div class="flex flex-row items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M17 17L7.8 7.7M7 17V7h10"></path>
            </svg>
            <span class="font-semibold uppercase text-xs">Upward</span>
          </div>
          <div class="w-full">
            <svg class="w-full" viewBox="0 0 141 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g>
                <path d="M5 1.06827C21.6434 0.767281 22.9399 12.3208 34.9648 17.0373C40.1853 19.085 49.7907 6.92438 50.5584 9.19207C52.0191 13.5068 56.5137 13.1684 59.691 15.8304C62.3177 18.031 66.82 17.223 70.2031 17.223C71.4937 17.223 70.5663 21.5846 71.8795 22.3604C76.5857 25.1406 100.925 -1.04184 101.181 7.6911C101.267 10.6171 104.228 14.784 107.729 14.9638C112.327 15.2001 116.088 13.9989 118.887 18.0586C121.415 21.7246 125.071 23.9078 129.941 23.9078C133.089 23.9078 132.858 20.66 136 24.0625" stroke="url(#paint0_linear_228_43)" stroke-width="3" stroke-linecap="round"> </path>
              </g>
              <defs>
                <linearGradient id="paint0_linear_228_43" x1="5" y1="1.0625" x2="139.386" y2="19.4725" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#7000FF"></stop>
                  <stop offset="1" stop-color="#EA00B6"> </stop>
                </linearGradient>
              </defs>
            </svg>
          </div>
        </section>
      </article>

      <article class="flex-none w-[140px] border shadow-sm break-inside rounded-xl p-4 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
        <header class="w-full flex items-center justify-between">
          <h2 class="text-sm font-bold">Members</h2>
          <span class="flex items-center justify-center w-5 h-5 text-[11px] rounded-full font-medium bg-amber-200 text-black">5</span>
        </header>
        <section class="flex items-center justify-between mt-3">
          <div class="block">
            <dt class="sr-only">Users</dt>
            <dd class="flex justify-start -space-x-1.5">
              <a href="#" class="inline-block -ml-1">
                <img class="w-6 h-6 rounded-full ring-2 ring-white dark:ring-gray-950" src="https://randomuser.me/api/portraits/women/12.jpg" alt="avatar" loading="lazy">
              </a>
              <a href="#" class="inline-block -ml-1">
                <img class="w-6 h-6 rounded-full ring-2 ring-white dark:ring-gray-950" src="https://randomuser.me/api/portraits/men/13.jpg" alt="avatar" loading="lazy">
              </a>
              <a href="#" class="inline-block -ml-1">
                <span class="flex items-center justify-center text-[11px] font-medium w-6 h-6 rounded-full bg-rose-200 ring-2 ring-white dark:bg-gray-600 dark:ring-gray-950">+3</span>
              </a>
            </dd>
          </div>
          <button class="rounded-full flex items-center justify-center w-8 h-8 transition-all hover:bg-gray-100 dark:hover:bg-gray-900">
            <svg width="16" height="16" fill="none" stroke-width="3" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
          </button>
        </section>
      </article>
      <article class="flex-none w-[90px] border shadow-sm break-inside overflow-hidden relative flex flex-col items-center justify-center gap-2 rounded-xl text-sm p-3 bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
        <header class="flex flex-col items-center justify-start">
          <div class="flex items-center justify-center w-8 h-8 rounded-full text-indigo-500 bg-gray-200 dark:bg-gray-900">
            <svg width="18" height="18" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M7 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM14.5 9a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5ZM1.615 16.428a1.224 1.224 0 0 1-.569-1.175 6.002 6.002 0 0 1 11.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 0 1 7 18a9.953 9.953 0 0 1-5.385-1.572ZM14.5 16h-.106c.07-.297.088-.611.048-.933a7.47 7.47 0 0 0-1.588-3.755 4.502 4.502 0 0 1 5.874 2.636.818.818 0 0 1-.36.98A7.465 7.465 0 0 1 14.5 16Z"></path>
            </svg>
          </div>
          <h2 class="font-medium mt-1">465+</h2>
          <p class="text-xs text-gray-500 dark:text-gray-400">Followers</p>
        </header>
      </article>
      <article class="flex-none w-[90px] border shadow-sm break-inside overflow-hidden relative flex flex-col items-center justify-center gap-2 rounded-xl text-sm p-3 bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
        <header class="flex flex-col items-center justify-start">
          <div class="flex items-center justify-center w-8 h-8 rounded-full text-indigo-500 bg-gray-200 dark:bg-gray-900">
            <svg width="18" height="18" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 0 0 2 4.25v11.5A2.25 2.25 0 0 0 4.25 18h11.5A2.25 2.25 0 0 0 18 15.75V4.25A2.25 2.25 0 0 0 15.75 2H4.25Zm4.03 6.28a.75.75 0 0 0-1.06-1.06L4.97 9.47a.75.75 0 0 0 0 1.06l2.25 2.25a.75.75 0 0 0 1.06-1.06L6.56 10l1.72-1.72Zm4.5-1.06a.75.75 0 1 0-1.06 1.06L13.44 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06l2.25-2.25a.75.75 0 0 0 0-1.06l-2.25-2.25Z"></path>
            </svg>
          </div>
          <h2 class="font-medium mt-1">9+</h2>
          <p class="text-xs text-gray-500 dark:text-gray-400">Projects</p>
        </header>
      </article>
      <article class="flex-none w-[90px] border shadow-sm break-inside overflow-hidden relative flex flex-col items-center justify-center gap-2 rounded-xl text-sm p-3 bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
        <header class="flex flex-col items-center justify-start">
          <div class="flex items-center justify-center w-8 h-8 rounded-full text-indigo-500 bg-gray-200 dark:bg-gray-900">
            <svg width="18" height="18" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"></path>
            </svg>
          </div>
          <h2 class="font-medium mt-1">5.0</h2>
          <p class="text-xs text-gray-500 dark:text-gray-400">Rating</p>
        </header>
      </article>

      <article class="flex-none w-[300px] shadow-sm break-inside flex items-center flex-row justify-between rounded-xl p-3 mb-3 text-sm text-white bg-gradient-to-tr from-blue-700 via-violet-800 to-fuchsia-900" data-filter="finance">
        <header class="flex flex-col items-start gap-2">
          <span class="uppercase text-xs font-medium text-white dark:text-gray-400">CURRENT PRICE</span>
          <div class="flex items-center justify-center gap-2">
            <h2 class="text-sm sm:text-base font-medium">€45.00</h2>
            <span class="px-2 py-[2px] text-xs rounded-sm bg-white/20 text-white">-082%</span>
          </div>
          <p class="text-xs text-white/80">Update now - 3:23AM</p>
        </header>
        <section class="flex flex-col gap-2 max-w-[7rem]">
          <div class="flex flex-row items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M17 17L7.8 7.7M7 17V7h10"></path>
            </svg>
            <span class="font-semibold uppercase text-xs">Upward</span>
          </div>
          <div class="w-full">
            <svg class="w-full" viewBox="0 0 141 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g >
                <path d="M5 1.06827C21.6434 0.767281 22.9399 12.3208 34.9648 17.0373C40.1853 19.085 49.7907 6.92438 50.5584 9.19207C52.0191 13.5068 56.5137 13.1684 59.691 15.8304C62.3177 18.031 66.82 17.223 70.2031 17.223C71.4937 17.223 70.5663 21.5846 71.8795 22.3604C76.5857 25.1406 100.925 -1.04184 101.181 7.6911C101.267 10.6171 104.228 14.784 107.729 14.9638C112.327 15.2001 116.088 13.9989 118.887 18.0586C121.415 21.7246 125.071 23.9078 129.941 23.9078C133.089 23.9078 132.858 20.66 136 24.0625" stroke="url(#paint0_linear_228_432)" stroke-width="2" stroke-linecap="round"></path>
              </g>
              <defs>
                <linearGradient id="paint0_linear_228_432" x1="5" y1="1.0625" x2="139.386" y2="19.4725" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#1decc2"></stop>
                  <stop offset="1" stop-color="#ffd500"> </stop>
                </linearGradient>
              </defs>
            </svg>
          </div>
        </section>
      </article>
      

    </div>
    
    <div class="flex justify-start items-start w-full gap-3">

      <article class="flex-none w-[270px] border break-inside flex items-center justify-between rounded-xl p-3 mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-widget>
        <div class="flex items-center space-x-4">
          <header class="flex-auto">
            <h2 class="text-base font-medium">California</h2>
            <p class="text-gray-500">We'll be there soon</p>
          </header>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-2xl font-bold">24°</span>
          <img class="w-11 h-11 object-cover" src="https://www.svgrepo.com/show/452177/cloud.svg" alt="weather">
        </div>
      </article>
      <article class="block flex-none w-[300px] border shadow-sm break-inside rounded-xl p-3 mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
        <div class="flex justify-between items-center w-full">
          <div class="flex flex-col justify-center items-center py-1 px-3 border rounded dark:border-gray-900">
            <span class="font-medium">Jun</span>
            <span class="text-xs font-medium text-pink-500">23</span>
          </div>
          <img class="flex-none w-10 h-10 rounded-xl" src="https://randomuser.me/api/portraits/women/21.jpg" alt="avatar" loading="lazy">
          <hr class="border h-6 border-gray-200 dark:border-gray-800">
          <div class="flex flex-col justify-center items-start">
            <span class="text-base font-medium">Wednesday</span>
            <span class="text-gray-400">08:00 PM - 18:30 PM</span>
          </div>
        </div>
      </article>
      <article class="flex-none w-[300px] relative border overflow-hidden shadow-sm break-inside rounded-xl p-3 mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
        <div class="absolute left-1/2 top-0 w-14 h-14 bg-rose-500/30 blur-2xl"></div>
        <div class="absolute left-0 top-0 w-14 h-14 bg-green-500/30 blur-2xl"></div>
        <div class="flex justify-between items-center w-full relative z-[1]">
          <div class="flex flex-col justify-center items-center w-11 h-11 rounded-full text-white bg-gray-900 dark:text-black dark:bg-gray-100">
            <span class="font-medium">Jun</span>
            <span class="text-xs font-medium">23</span>
          </div>
          <hr class="border h-6 border-gray-300 dark:border-gray-800">
          <div class="flex flex-col justify-center items-start">
            <span class="text-base font-medium">Thursday</span>
            <span class="text-xs text-gray-700 dark:text-gray-200">08:00 PM - 18:30 PM</span>
          </div>
          <button class="px-2 h-7 text-xs font-medium transition-colors duration-300 text-white bg-rose-500 rounded-md hover:bg-rose-600">
            Details
          </button>
        </div>
      </article>

      <article class="flex-none w-[300px] border shadow-sm break-inside overflow-hidden relative flex items-center justify-between gap-5 rounded-xl text-sm mb-3 p-3 bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
        <div class="absolute w-14 h-14 bg-rose-500 rounded-full -top-8 left-1/2 blur-3xl"></div>
        <header class="flex items-center gap-2 flex-none">
          <svg width="40" height="40" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.95428 19.4079C7.58969 17.8031 6.71519 15.4295 6.65754 12.7675V12.191C6.71519 9.52904 7.5993 7.15542 8.95428 5.55059C10.7225 3.26346 13.3171 2.23521 16.2481 2.23521C18.0548 2.23521 19.7557 2.36013 21.1972 3.32111C19.035 1.37033 16.1808 0.188321 13.048 0.178711H13C6.20588 0.178711 0.699463 5.68512 0.699463 12.4792C0.699463 19.0716 5.88875 24.4627 12.4138 24.7702C12.606 24.7798 12.8078 24.7798 13 24.7798C16.152 24.7798 19.0253 23.5978 21.1972 21.647C19.7557 22.608 18.1509 22.6464 16.3442 22.6464C13.4228 22.656 10.7129 21.7047 8.95428 19.4079Z"
              fill="url(#paint0_linear_134_1880)" />
            <path
              d="M8.95428 5.55055C10.0786 4.21479 11.5393 3.41718 13.1345 3.41718C16.719 3.41718 19.6212 7.47251 19.6212 12.4888C19.6212 17.5051 16.719 21.5605 13.1345 21.5605C11.5393 21.5605 10.0882 20.7532 8.95428 19.4271C10.7225 21.7142 13.346 23.1749 16.2673 23.1749C18.0644 23.1749 19.7557 22.6272 21.1972 21.6662C23.7149 19.3983 25.3005 16.1213 25.3005 12.4792C25.3005 8.8371 23.7149 5.56016 21.1972 3.31147C19.7557 2.35049 18.074 1.80273 16.2673 1.80273C13.3364 1.80273 10.7129 3.25381 8.95428 5.55055Z"
              fill="url(#paint1_linear_134_1880)" />
            <defs>
              <linearGradient id="paint0_linear_134_1880" x1="1025.65" y1="40.2785" x2="1025.65" y2="2424.49"
                gradientUnits="userSpaceOnUse">
                <stop offset="0.3" stop-color="#FF1B2D" />
                <stop offset="0.4381" stop-color="#FA1A2C" />
                <stop offset="0.5939" stop-color="#ED1528" />
                <stop offset="0.7581" stop-color="#D60E21" />
                <stop offset="0.9272" stop-color="#B70519" />
                <stop offset="1" stop-color="#A70014" />
              </linearGradient>
              <linearGradient id="paint1_linear_134_1880" x1="826.104" y1="20.0332" x2="826.104" y2="2128.74"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#9C0000" />
                <stop offset="0.7" stop-color="#FF4B4B" />
              </linearGradient>
            </defs>
          </svg>
          <div class="flex flex-col">
            <h2 class="font-medium">Opera</h2>
            <p class="text-xs text-gray-500">Value</p>
          </div>
        </header>
        <svg class="w-full" viewBox="0 0 61 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.60486 7.93025C4.32505 7.56955 1.85222 15.1441 1.39514 16.0459H59.6048V3.72215C59.0335 7.62967 56.5107 1.31753 55.4442 2.36955C54.7517 -0.909323 52.3591 13.4356 50.6049 14.2047C50.1859 12.6517 45.9142 1.31753 44.8172 3.121C43.446 5.37533 42.2379 11.2366 41.8951 10.3349C41.5523 9.43313 40.5904 -0.674871 39.1049 1.1286C37.6194 2.93207 31.5815 11.6274 30.2103 11.6274C28.8391 11.6274 30.8959 5.52562 30.2103 4.32331C29.2976 2.72268 25.2186 6.39327 24.3951 4.32331C23.1375 1.16185 24.9809 14.9273 19.3353 7.93025C17.3951 5.52562 19.5725 5.6212 14.9931 10.3349C11.209 14.2299 10.1483 7.73453 7.45138 13.9418C6.53723 16.0459 7.20462 8.38111 5.60486 7.93025Z"
            fill="url(#paint0_linear_136_1897)" />
          <path
            d="M1.39514 16.0459C1.85222 15.1441 4.32505 7.56955 5.60486 7.93025C7.20462 8.38111 6.53723 16.0459 7.45138 13.9418C10.1483 7.73453 11.209 14.2299 14.9931 10.3349C19.5725 5.6212 17.3951 5.52562 19.3353 7.93025C24.9809 14.9273 23.1375 1.16185 24.3951 4.32331C25.2186 6.39327 29.2976 2.72268 30.2103 4.32331C30.8959 5.52562 28.8391 11.6274 30.2103 11.6274C31.5815 11.6274 37.6194 2.93207 39.1049 1.1286C40.5904 -0.674871 41.5523 9.43313 41.8951 10.3349C42.2379 11.2366 43.446 5.37533 44.8172 3.121C45.9142 1.31753 50.1859 12.6517 50.6049 14.2047C52.3591 13.4356 54.7517 -0.909323 55.4442 2.36955C56.5107 1.31753 59.0335 7.62967 59.6048 3.72215"
            stroke="#ED1261" stroke-linecap="round" stroke-linejoin="round" />
          <defs>
            <linearGradient id="paint0_linear_136_1897" x1="30.5" y1="0.913574" x2="30.5" y2="16.0459"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#ED1261" stop-opacity="0.54" />
              <stop offset="1" stop-color="#ff005417" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
        <div class="flex flex-col items-center gap-1">
          <h2 class="font-bold">€ 345.00</h2>
          <span class="text-xs px-1 h-5 flex items-center justify-center gap-1 font-medium rounded-md bg-rose-200 text-rose-800">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 17l9.2-9.2M17 17V7H7"/></svg>
            <span class="text-[11px]">71.06%</span>
          </span>
        </div>
      </article>
      

    </div>

    <div class="flex justify-start items-start w-full gap-3 mb-3">

      <div class="flex-none w-[140px]">
        <article class="flex-none w-full border shadow-sm break-inside flex flex-col justify-between rounded-xl p-4 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-widget>
          <header class="flex items-center justify-between">
            <span class="h-6 px-2 text-xs font-medium rounded-md flex items-center justify-center bg-green-100 text-green-600 dark:bg-green-500/30 dark:text-green-300">NEW</span>
            <button class="inline-flex items-center justify-center w-7 h-7 transition-all rounded-full hover:bg-gray-100 dark:hover:bg-gray-900">
              <svg width="28" height="28" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"></path>
              </svg>
            </button>
          </header>
          <section class="mt-3">
            <h2 class="text-base font-bold">Project members</h2>
            <p class="text-[10px] mt-1 text-gray-500">03:00 PM - 05:00 PM</p>
          </section>
          <div class="flex items-center justify-between mt-auto">
            <div class="block">
              <dt class="sr-only">Users</dt>
              <dd class="flex justify-start -space-x-1.5">
                <a href="#" class="inline-block -m-1">
                  <img class="w-6 h-6 rounded-full ring-2 ring-white dark:ring-gray-950" src="https://randomuser.me/api/portraits/women/48.jpg" alt="avatar" loading="lazy">
                </a>
                <a href="#" class="inline-block -m-1">
                  <img class="w-6 h-6 rounded-full ring-2 ring-white dark:ring-gray-950" src="https://randomuser.me/api/portraits/men/15.jpg" alt="avatar" loading="lazy">
                </a>
                <a href="#" class="inline-block -m-1">
                  <img class="w-6 h-6 rounded-full ring-2 ring-white dark:ring-gray-950" src="https://randomuser.me/api/portraits/women/37.jpg" alt="avatar" loading="lazy">
                </a>
              </dd>
            </div>
            <button class="rounded-full flex items-center justify-center w-8 h-8 transition-all hover:bg-gray-100 dark:hover:bg-gray-900">
              <svg width="16" height="16" fill="none" stroke-width="3" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
              </svg>
            </button>
          </div>
        </article>
      </div>

      <div class="w-full flex flex-col">
        <div class="w-full flex items-start gap-3">
          <article class="flex-none w-[280px] border shadow-sm break-inside flex items-center justify-between rounded-xl p-4 mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
            <div class="flex items-center gap-4">
              <div class="flex-none w-10 h-10 rounded-lg flex items-center justify-center text-lg font-semibold bg-rose-100 text-rose-400 dark:bg-rose-600/50 dark:text-white">
                <svg width="26" height="26" class="ionicon" viewBox="0 0 512 512">
                  <path d="M430.11 347.9c-6.6-6.1-16.3-7.6-24.6-9-11.5-1.9-15.9-4-22.6-10-14.3-12.7-14.3-31.1 0-43.8l30.3-26.9c46.4-41 46.4-108.2 0-149.2-34.2-30.1-80.1-45-127.8-45-55.7 0-113.9 20.3-158.8 60.1-83.5 73.8-83.5 194.7 0 268.5 41.5 36.7 97.5 55 152.9 55.4h1.7c55.4 0 110-17.9 148.8-52.4 14.4-12.7 11.99-36.6.1-47.7z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/>
                  <circle fill="currentColor" cx="144" cy="208" r="32"/>
                  <circle fill="currentColor" cx="152" cy="311" r="32"/>
                  <circle fill="currentColor" cx="224" cy="144" r="32"/>
                  <circle fill="currentColor" cx="256" cy="367" r="48"/>
                  <circle fill="currentColor" cx="328" cy="144" r="32"/>
                </svg>
              </div>
              <div class="flex-auto">
                <a href="#" class="text-base font-medium block">Palette design</a>
                <span class="text-sm text-gray-600 dark:text-gray-400">
                  This is the best palette
                </span>
              </div>
            </div>
            <button class="rounded-full flex items-center justify-center w-9 h-9 transition-all hover:bg-gray-100 dark:hover:bg-gray-900">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor"></path>
              </svg>
            </button>
          </article>
          <article class="flex-none w-[260px] border shadow-sm break-inside flex items-center justify-between rounded-xl p-3 mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
            <header class="flex items-center gap-3">
              <span class="text-base font-medium">01</span>
              <div class="flex items-center gap-4">
                <img class="flex-none w-12 h-12 rounded-2xl" src="https://randomuser.me/api/portraits/women/82.jpg" alt="avatar" loading="lazy">
                <div class="flex-auto">
                  <span class="text-sm text-gray-600 dark:text-gray-300">September 2023</span>
                  <h2 class="text-base font-medium block">Caroline</h2>
                </div>
              </div>
            </header>
            <svg width="22" height="22" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="fill-gray-900 dark:fill-gray-100">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"></path>
            </svg>
          </article>
          <article class="border w-[280px] shadow-sm flex flex-col break-inside rounded-xl p-4 mb-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="social">
            <div class="flex justify-between items-center">
              <div class="block">
                <dt class="sr-only">Users</dt>
                <dd class="flex justify-start -space-x-1.5">
                  <a href="#" class="inline-block -m-1">
                    <img class="w-7 h-7 rounded-full ring-2 ring-white dark:ring-gray-950" src="https://randomuser.me/api/portraits/women/48.jpg" alt="avatar" loading="lazy">
                  </a>
                  <a href="#" class="inline-block -m-1">
                    <img class="w-7 h-7 rounded-full ring-2 ring-white dark:ring-gray-950" src="https://randomuser.me/api/portraits/men/15.jpg" alt="avatar" loading="lazy">
                  </a>
                  <a href="#" class="inline-block -m-1">
                    <img class="w-7 h-7 rounded-full ring-2 ring-white dark:ring-gray-950" src="https://randomuser.me/api/portraits/women/37.jpg" alt="avatar" loading="lazy">
                  </a>
                  <a href="#" class="inline-block -m-1">
                    <img class="w-7 h-7 rounded-full ring-2 ring-white dark:ring-gray-950" src="https://randomuser.me/api/portraits/men/78.jpg" alt="avatar" loading="lazy">
                  </a>
                </dd>
              </div>
              <div class="flex justify-center items-center rounded-md px-2 py-1 bg-green-100 gap-1 font-medium dark:bg-green-500/20">
                <span class="text-xs font-medium text-green-700 dark:text-green-400">23%</span>
                <svg width="14" height="14" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.57835 7.65466H14.1787C14.3063 7.6544 14.4313 7.6309 14.5404 7.5867C14.6495 7.5425 14.7384 7.47927 14.7977 7.40382C14.8569 7.32837 14.8842 7.24356 14.8767 7.15851C14.8692 7.07346 14.827 6.9914 14.7548 6.92115L8.45465 0.84365C8.19354 0.591667 7.56492 0.591667 7.30311 0.84365L1.00293 6.92115C0.93001 6.99125 0.887245 7.07336 0.879287 7.15855C0.871328 7.24374 0.898481 7.32876 0.957793 7.40437C1.01711 7.47997 1.10631 7.54328 1.21572 7.58741C1.32512 7.63154 1.45054 7.6548 1.57835 7.65466Z" fill="currentColor" class="fill-green-500 dark:fill-green-400"></path>
                </svg>
              </div>
              <div class="flex items-center gap-2">
                <button class="inline-flex items-center justify-center w-9 h-9 transition-all rounded-full hover:bg-gray-100 dark:hover:bg-gray-900">
                  <svg width="22" height="22" viewBox="0 0 24 24" stroke-width="2" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M14.3632 5.65156L15.8431 4.17157C16.6242 3.39052 17.8905 3.39052 18.6716 4.17157L20.0858 5.58579C20.8668 6.36683 20.8668 7.63316 20.0858 8.41421L18.6058 9.8942M14.3632 5.65156L4.74749 15.2672C4.41542 15.5993 4.21079 16.0376 4.16947 16.5054L3.92738 19.2459C3.87261 19.8659 4.39148 20.3848 5.0115 20.33L7.75191 20.0879C8.21972 20.0466 8.65806 19.8419 8.99013 19.5099L18.6058 9.8942M14.3632 5.65156L18.6058 9.8942" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </button>
                <button class="inline-flex items-center justify-center w-10 h-10 transition-all rounded-full hover:bg-gray-100 dark:hover:bg-gray-900">
                  <svg width="30" height="30" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"></path>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="flex items-start justify-start w-full gap-3">
          <article class="flex-none w-[290px] border shadow-sm break-inside grid grid-cols-12 rounded-xl overflow-hidden text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="travel">
            <header class="col-span-4 flex-none">
              <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/2034335/pexels-photo-2034335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Imagen">
            </header>
            <section class="col-span-8 flex flex-col justify-start p-3 gap-1">
              <div class="flex items-center justify-between">
                <h2 class="text-base font-semibold block">Booking</h2>
                <span class="h-5 px-2 inline-flex items-center text-xs font-medium rounded-md uppercase bg-rose-100 text-rose-800 dark:bg-rose-500/30 dark:text-rose-300">NEW</span>
              </div>
              <p class="mt-0.5 text-xs text-gray-600 dark:text-gray-400">Hotel in Barcelona, with a 20% discount</p>
            </section>
          </article>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-start gap-3 mb-3">
      <article class="flex-none w-[138px] shadow-md break-inside dark:shadow-gray-700/5 overflow-hidden relative flex flex-col gap-2 rounded-xl text-sm bg-white dark:bg-gray-950 dark:text-white" data-filter="social">
        <figure class="relative">
          <img class="w-full max-w-full h-full max-h-[5rem] object-cover" src="https://images.pexels.com/photos/3760956/pexels-photo-3760956.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" data-author="Sound On" alt="portada" data-author-profile="https://www.pexels.com/es-es/@sound-on/"/>
          <button class="absolute w-6 h-6 top-3 right-3 rounded-full flex items-center justify-center bg-white text-rose-600">
            <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z"></path>
            </svg>
          </button>
        </figure>
        <section class="flex flex-col gap-1 px-3 pb-3 mt-1">
          <header class="flex items-center justify-between w-full">
            <h3 class="text-sm font-medium">Maria Doe</h3>
            <span class="flex items-center gap-1 text-amber-500">
              <svg width="14" height="14" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"></path>
              </svg>
              <span class="text-xs mt-0.5 font-medium text-black dark:text-gray-300">4.5</span>
            </span>
          </header>
          <p class="text-xs">Lorem ipsum dolor sit amet, con seccgel.</p>
        </section>
      </article>

      <section class="grid grid-cols-2 gap-3 flex-none w-[290px]">
        <article class="relative overflow-hidden border shadow-sm break-inside rounded-xl gap-2 p-3 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="finance">
          <div class="absolute top-0 left-0 w-20 h-20 bg-gradient-to-br from-purple-500/60 to-white dark:to-gray-950 rounded-full flex items-center justify-center blur-2xl"></div>
          <header class="relative flex flex-col gap-1">
            <div class="flex items-center justify-center w-10 h-10 rounded-full bg-gradient-to-br from-purple-500 to-blue-500 text-white">
              <svg width="28" height="28" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.80757 2.07613C8.78994 1.88835 7.73713 1.97028 6.76579 2.31284C6.71863 2.33048 6.6756 2.35671 6.63918 2.39005C6.60275 2.42338 6.57364 2.46317 6.55349 2.50713C6.51281 2.59592 6.51115 2.69633 6.54886 2.78627C6.58658 2.87622 6.66059 2.94833 6.75461 2.98675C6.84862 3.02517 6.95495 3.02674 7.0502 2.99112C7.88656 2.6925 8.79379 2.6169 9.6726 2.77262C9.72411 2.78542 9.77787 2.78801 9.8305 2.78021C9.88313 2.77242 9.93347 2.75441 9.97836 2.72733C10.0233 2.70025 10.0617 2.66468 10.0913 2.62287C10.1209 2.58105 10.141 2.53389 10.1504 2.48437C10.1598 2.43485 10.1581 2.38403 10.1457 2.33513C10.1332 2.28623 10.1101 2.24029 10.0779 2.20023C10.0457 2.16016 10.005 2.12683 9.95852 2.10234C9.91199 2.07784 9.8606 2.06272 9.80757 2.05792V2.07613Z" fill="white"/>
                <path d="M12.536 5.53582C12.8981 5.53582 13.1916 5.25864 13.1916 4.91672C13.1916 4.5748 12.8981 4.29762 12.536 4.29762C12.1739 4.29762 11.8804 4.5748 11.8804 4.91672C11.8804 5.25864 12.1739 5.53582 12.536 5.53582Z" fill="currentColor"/>
                <path d="M17.4193 5.79075C17.3746 5.72833 17.3142 5.67735 17.2435 5.64239C17.1729 5.60744 17.0941 5.58959 17.0143 5.59045C16.6249 5.5394 16.2675 5.35857 16.0068 5.0806C15.5051 4.56276 15.0788 3.98409 14.739 3.35986L16.1273 1.31135C16.2116 1.19264 16.2632 1.05598 16.2775 0.913718C16.2918 0.771454 16.2684 0.628065 16.2093 0.4965C16.1501 0.376807 16.0607 0.272686 15.9489 0.193304C15.8371 0.113922 15.7064 0.0617143 15.5682 0.0412766C14.6853 -0.0710818 13.7867 0.0469934 12.9699 0.382694C12.5017 0.577417 12.0613 0.826691 11.6587 1.12471C10.8702 0.790838 10.0306 0.57726 9.17125 0.491948C5.75347 0.177844 2.62973 2.27187 2.22963 5.04874C2.0737 4.98249 1.93405 4.88638 1.81953 4.76648C1.70501 4.64658 1.61813 4.50552 1.56439 4.35224C1.53002 4.24714 1.51828 4.1366 1.52987 4.02714C1.54146 3.91768 1.57615 3.81153 1.63188 3.71493C1.68185 3.63383 1.75328 3.56638 1.83916 3.51918C1.89772 3.48571 1.94872 3.44167 1.98925 3.38958C2.02978 3.33749 2.05906 3.27837 2.07539 3.21559C2.09173 3.15282 2.09482 3.08762 2.08448 3.02372C2.07413 2.95982 2.05056 2.89847 2.01511 2.84318C1.97966 2.78788 1.93302 2.73972 1.87786 2.70144C1.8227 2.66316 1.7601 2.63552 1.69362 2.62009C1.62715 2.60466 1.55811 2.60175 1.49045 2.61152C1.42278 2.62129 1.35781 2.64354 1.29926 2.67702C1.0659 2.81228 0.873332 3.00197 0.74007 3.22784C0.616173 3.43982 0.538288 3.67301 0.510973 3.91375C0.483659 4.1545 0.507462 4.39797 0.580991 4.62993C0.671497 4.91101 0.821583 5.17177 1.02213 5.39637C1.22267 5.62096 1.46949 5.80471 1.74757 5.93642L2.19106 6.14582C2.24647 7.25396 2.54524 8.33911 3.06841 9.33239L3.15036 9.50537C3.56847 10.3404 4.10175 11.1195 4.73633 11.8225C4.7815 11.871 4.83711 11.9099 4.89944 11.9366C4.96178 11.9633 5.02942 11.9772 5.09787 11.9772H7.27677C7.35572 11.9769 7.43337 11.9582 7.50289 11.9228C7.57241 11.8875 7.63167 11.8366 7.67546 11.7745C7.71926 11.7125 7.74625 11.6413 7.75406 11.5671C7.76187 11.4929 7.75027 11.418 7.72026 11.349L7.53226 10.9393L8.10109 10.9985C8.74227 11.0584 9.38814 11.0584 10.0293 10.9985C10.2077 11.2716 10.4005 11.5448 10.6126 11.8134C10.657 11.8707 10.715 11.9175 10.782 11.9499C10.8489 11.9823 10.923 11.9995 10.9983 12H13.0904C13.1699 11.9999 13.2483 11.9813 13.3183 11.9457C13.3884 11.9101 13.4481 11.8587 13.492 11.796C13.5359 11.7334 13.5627 11.6614 13.57 11.5866C13.5773 11.5118 13.5649 11.4364 13.5339 11.3672C13.4519 11.1851 13.37 10.9894 13.3073 10.821C13.2205 10.5797 13.153 10.3657 13.1 10.1609C13.6324 9.88948 14.121 9.54764 14.551 9.14575C15.0313 9.20057 15.5169 9.20057 15.9972 9.14575C16.0805 9.13385 16.1591 9.10152 16.2251 9.052C16.291 9.00248 16.3421 8.93749 16.3732 8.86351L17.4626 6.21866C17.4933 6.14948 17.5054 6.07422 17.4978 5.99956C17.4902 5.92491 17.4633 5.85318 17.4193 5.79075ZM15.5971 8.26717C15.2187 8.28751 14.839 8.27073 14.4642 8.21709C14.0375 8.14902 13.6255 8.01522 13.2446 7.82105C13.1319 7.76823 13.0017 7.75918 12.8819 7.79583C12.7621 7.83247 12.6623 7.91191 12.6038 8.01715C12.5452 8.12239 12.5326 8.24509 12.5685 8.35901C12.6045 8.47293 12.6863 8.56904 12.7963 8.62679C12.9978 8.72655 13.2055 8.81472 13.4182 8.89082C13.1553 9.10277 12.8635 9.28038 12.5505 9.41888L12.0395 9.63739C12.0395 9.63739 12.2757 10.6343 12.4348 11.0759H11.2875C11.1718 10.9211 10.5885 10.0016 10.5885 10.0016L10.2655 10.0425C9.58709 10.1349 8.89965 10.1532 8.21678 10.0972C7.89862 10.0699 7.36836 10.0061 6.95379 9.93784L6.2066 9.81493C6.2066 9.81493 6.5103 10.9211 6.56814 11.0622H5.32444C4.8164 10.4748 4.38582 9.83126 4.04216 9.14575L3.95539 8.96821C3.32906 7.82967 3.06456 6.54444 3.19374 5.26724C3.45405 2.90463 6.14393 1.12016 9.07002 1.37963C9.92122 1.46974 10.7496 1.69765 11.5189 2.05336L11.8177 2.18538L12.0588 1.97142C12.4342 1.65467 12.8584 1.39372 13.3169 1.19754C13.9236 0.949055 14.5864 0.847355 15.2452 0.901649L13.6158 3.30978L13.7363 3.53739C14.1574 4.33819 14.6944 5.07974 15.3319 5.74068C15.6281 6.01399 15.9787 6.22906 16.3636 6.37344L15.5971 8.26717Z" fill="currentColor"/>
              </svg>
            </div>
            <section>
              <h2 class="font-semibold text-lg">Є9834.72</h2>
              <p class="text-xs">Statement of earnings</p>
            </section>
          </header>
          <section class="w-full">
            <svg class="w-full stroke-[#264653] dark:stroke-green-300" viewBox="0 0 81 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 33.3915C1.3054 31.0778 1.91866 29.0455 2.781 26.9385C4.27947 23.2773 6.04042 19.7442 8.58081 16.9879C9.01161 16.5205 10.1749 14.8938 10.7955 15.8267C11.925 17.5245 12.3347 19.9638 13.12 21.8902C13.2778 22.2772 13.3296 23.0247 13.6867 22.9889C13.9372 22.9638 13.8677 22.425 13.9527 22.1406C14.4469 20.4872 15.3403 18.8761 16.5201 17.8154C17.234 17.1737 18.9341 15.6313 19.8393 16.4803C20.8849 17.4611 21.1586 19.0758 21.5509 20.4995C21.7357 21.1703 22.0163 21.8154 22.2332 22.4743C22.4003 22.9819 22.4818 23.061 22.7825 22.5717C23.7716 20.9625 25.5009 19.4348 26.9979 21.1532C27.4176 21.6349 27.6807 22.1271 28.2701 21.6816C28.8545 21.2399 28.9307 21.5721 29.1837 22.3005C29.4669 23.1157 29.8226 25.5056 30.7276 24.2892C30.8547 24.1184 31.8829 22.4702 32.1096 22.6134C32.6993 22.9857 33.0238 24.4117 33.243 25.0889C33.3644 25.4639 33.7612 27.2269 34.1566 27.3627C34.1838 27.372 35.0867 23.3764 35.3478 22.9055C35.6953 22.2786 36.097 21.6839 36.4812 21.0906C36.5991 20.9086 37.1348 19.8837 37.4295 19.7763C37.4765 19.7592 37.5521 19.9913 37.5914 20.0128C37.6995 20.0718 37.7439 19.7863 37.7822 19.6512C37.9229 19.1558 38.2018 17.9378 38.2911 17.5581C38.8814 15.0492 39.4599 12.5787 40.6041 10.3403C41.1889 9.19628 42.1367 7.86363 43.2698 7.46848C44.1751 7.15279 45.1121 8.83453 45.4903 9.56847C45.9517 10.464 46.3628 11.5816 46.959 12.3638C47.5811 13.1799 47.5789 14.7563 48.0114 15.7293C48.0686 15.858 48.7471 16.9045 48.7747 16.6611C48.8884 15.6585 49.2088 14.8133 49.9196 14.2204C50.8977 13.4047 51.1618 14.932 51.6544 15.7711C52.2431 16.7741 52.4112 16.2262 53.0826 15.4582C53.3026 15.2066 54.788 13.2069 55.0834 13.9631C55.6438 15.3981 55.4226 17.232 56.0837 18.6081C56.21 18.8709 56.3599 19.2271 56.5116 19.4704C56.5909 19.5975 56.581 19.0206 56.581 18.9419C56.581 18.5469 56.8415 19.2681 56.8528 19.2965C57.0808 19.8687 57.3096 20.468 57.3096 21.1114C57.3096 21.2416 57.2584 20.8166 57.3327 20.722C57.7408 20.2025 58.9442 22.408 59.0559 22.7386C59.2327 23.2618 59.5903 24.5949 60.2008 24.6439C60.468 24.6653 60.7277 23.4682 60.756 23.3783C61.2789 21.7144 61.6845 20.0098 62.1669 18.33C62.6305 16.7157 63.2596 15.3288 63.9826 13.8797C64.2672 13.3093 64.3228 14.238 64.3873 14.5542C64.45 14.8612 64.5754 15.9054 64.769 15.0827C65.4185 12.3231 65.8814 9.50902 66.469 6.7314C66.588 6.16898 66.724 5.60962 66.868 5.05558C66.9541 4.7242 67.1051 5.19833 67.1745 5.35459C68.1211 7.48573 68.6047 9.85884 69.5453 11.9953C69.8898 12.7778 69.7848 12.5102 69.8691 11.7728C70.054 10.1557 70.2585 8.37219 70.7134 6.82875C70.9231 6.117 71.4466 7.79287 71.4882 7.8996C71.8392 8.79971 72.1635 9.71214 72.5406 10.5976C72.5991 10.7348 73.1136 12.2033 73.3733 12.2317C73.3963 12.2342 73.879 9.82987 73.9226 9.66582C74.2839 8.3063 74.8798 7.40512 75.5128 6.24465C75.6256 6.03789 75.7244 5.63097 75.906 5.47975C76.1624 5.26628 76.3288 5.2511 76.49 4.89565C76.6356 4.57484 78.2047 0.911443 78.4619 1.00164C78.6461 1.06626 78.6011 1.19283 78.67 1.34932C78.7442 1.51769 79 1.57546 79.1153 1.72481C79.5362 2.26987 80 2.37877 80 3.22679" stroke-linecap="round"/>
              </svg>
          </section>
        </article>
        <article class="relative overflow-hidden border shadow-sm break-inside rounded-xl gap-2 text-sm bg-white dark:bg-gray-950 dark:text-white dark:border-gray-900" data-filter="finance">
          <div class="absolute top-0 right-0 w-20 h-20 bg-gradient-to-br from-rose-500/80 to-white dark:to-gray-950 rounded-full flex items-center justify-center blur-2xl"></div>
          <header class="relative flex flex-col gap-1 p-3">
            <div class="flex items-center justify-center w-10 h-10 rounded-full bg-gradient-to-br from-orange-500 to-rose-500 text-white">
              <svg width="24" height="24" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M15.5 2A1.5 1.5 0 0 0 14 3.5v13a1.5 1.5 0 0 0 1.5 1.5h1a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 16.5 2h-1ZM9.5 6A1.5 1.5 0 0 0 8 7.5v9A1.5 1.5 0 0 0 9.5 18h1a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 10.5 6h-1ZM3.5 10A1.5 1.5 0 0 0 2 11.5v5A1.5 1.5 0 0 0 3.5 18h1A1.5 1.5 0 0 0 6 16.5v-5A1.5 1.5 0 0 0 4.5 10h-1Z"></path>
              </svg>
            </div>
            <section>
              <h2 class="font-semibold text-lg">Є326.00</h2>
              <p class="text-xs">Statement of earnings</p>
            </section>
          </header>
          <section class="w-full -mt-4 relative">
            <span class="absolute bottom-[28px] left-[50px] flex h-3 w-3">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-rose-400 opacity-75"></span>
              <span class="relative inline-flex rounded-full h-3 w-3 border-2 border-white bg-rose-500 dark:border-gray-950"></span>
            </span>
            <svg class="w-full" viewBox="0 0 156 54" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 35.2121C1.12193 35.7084 2.05287 36.4465 3.15467 36.9127C3.88018 37.2197 4.96816 37.139 5.33694 37.8731C5.78171 38.7584 6.41334 37.1208 6.84078 36.7427C7.35846 36.2847 8.0534 35.1306 8.75167 35.3022C11.4731 35.971 14.5286 35.7848 17.3224 35.7523C17.6226 35.7488 17.9104 35.5687 17.9104 35.8724C17.9104 35.9323 17.9191 36.0299 17.9164 36.1291C18.3683 35.944 19.053 35.7572 19.1768 35.7523C20.6722 35.6935 21.0695 36.6679 22.2975 37.2528C23.2021 37.6838 23.2021 38.1814 23.2021 37.0128C23.2021 35.6556 24.0027 35.3695 24.8303 34.3118C25.1311 33.9274 25.4288 33.5039 25.9497 33.4015C26.5891 33.2758 27.1368 33.243 27.8154 33.2114C30.881 33.0687 33.9468 32.5976 36.9289 31.971C38.3957 31.6628 39.862 31.3127 41.2934 30.8906C41.6774 30.7773 41.6134 31.478 41.7231 31.7509C41.8505 32.068 42.5107 34.0517 42.7407 34.0517C42.8236 34.0517 42.7407 33.905 42.7407 33.8316V32.8113C42.7407 32.182 42.8631 31.787 43.2608 31.2507C43.6045 30.7875 45.7737 28.5386 46.0989 29.21C46.4428 29.9198 46.4557 30.5161 46.9696 31.1707C47.0957 31.3314 47.2004 31.786 47.2296 31.4108C47.276 30.8159 47.1736 29.3852 47.7271 28.9499C48.1423 28.6234 50.4124 33.7413 50.7913 34.4118C50.8749 34.5597 51.4545 35.7515 51.7411 35.3922C52.3142 34.674 53.4118 34.1187 54.1495 33.5815C55.9224 32.2907 57.4928 30.8434 59.1925 29.4901C59.3229 29.3863 59.8755 29.4777 59.7126 29.4201C59.1512 29.2214 59.8806 28.1863 59.984 27.9796C60.7619 26.4247 61.2675 24.79 61.827 23.1679C62.0575 22.4997 62.6297 21.7287 62.6864 21.0271C62.7081 20.7579 62.5243 19.9876 62.8899 19.9067C63.3145 19.8128 63.0628 18.5414 63.1047 18.2261C63.168 17.7501 63.6596 18.91 63.6814 18.9464C64.3669 20.0893 64.9188 21.2579 65.5358 22.4276C65.6835 22.7077 66.0959 24.9687 66.4856 24.6784C67.4868 23.9325 68.1285 22.8128 69.1427 22.0475C70.2353 21.223 70.6307 23.3734 70.8388 23.9581C71.5045 25.829 73.5756 31.4204 72.908 29.5501C72.6058 28.7035 74.1901 27.2634 74.8528 26.8292C75.0807 26.6798 75.3292 26.7757 75.4973 26.9492C75.9782 27.4456 76.0081 27.0539 76.6167 26.6891C78.3694 25.6387 78.9067 30.3861 79.9749 29.5001C80.2389 29.2812 80.3132 28.7752 80.642 28.6298C81.2229 28.3728 81.9908 29.8405 82.1798 30.1303C82.247 30.2335 82.7905 31.2581 83.0391 31.1207C83.4397 30.8992 83.5218 30.7105 84.0567 30.7105C85.5083 30.7105 85.7936 32.3676 86.2503 33.4115C86.7384 34.527 87.4071 35.1912 88.1951 36.1124C88.4976 36.4661 88.1275 35.7882 88.263 35.2321C88.6731 33.5484 89.9177 32.3477 91.248 31.1707C91.4066 31.0304 91.5497 30.6721 91.7908 30.7906C92.3756 31.078 93.0648 28.0325 93.125 27.7895C93.1857 27.5445 93.5668 24.2433 93.8713 24.2582C94.767 24.3023 95.4483 26.6541 95.7369 27.2093C95.9907 27.6972 96.2507 28.3009 96.7207 27.6394C97.5846 26.4234 97.918 24.7089 99.0047 23.648C99.5343 23.131 99.8986 23.9357 100.181 24.2282C100.638 24.7027 101.234 24.0552 101.651 23.8281C102.818 23.1913 104.902 21.5496 105.947 22.9178C106.347 23.4417 106.663 24.1263 107.214 24.5483C107.776 24.9795 108.692 23.1065 108.91 22.8678C109.743 21.9538 110.916 21.4318 111.85 20.627C112.32 20.2215 112.659 19.7113 113.274 19.4465C113.598 19.307 113.885 19.5045 114.066 19.7366C114.583 20.402 115.569 17.7932 115.75 17.4258C116.429 16.0492 116.594 17.5072 117.695 16.9056C120.594 15.3215 124.628 15.045 127.973 15.045C128.215 15.045 128.078 15.0317 127.973 14.9049C127.701 14.574 128.378 14.0083 128.539 13.7445C128.933 13.0974 129.068 12.261 129.353 11.5737C129.443 11.3559 129.67 10.3633 130.054 10.3633C130.72 10.3633 131.718 12.6542 131.953 13.0443C132.34 13.6843 133.31 15.8144 134.215 16.1054C134.401 16.1653 135.866 11.3414 136.058 10.8135C136.186 10.4619 136.627 9.01776 137.177 8.86279C137.448 8.78656 138.345 10.2279 138.512 10.4233C138.52 10.4328 138.527 10.442 138.535 10.4508C138.494 10.3806 138.458 10.3001 138.444 10.2233C138.347 9.69988 138.842 9.23517 139.326 9.00284C140.226 8.57054 141.178 9.81554 141.723 10.2333C142.357 10.7192 144.434 11.2956 144.979 10.5234C146.128 8.89668 145.725 7.5836 145.725 5.78169C145.725 5.375 146.782 4.62733 147.15 4.46123C148.144 4.01306 148.545 4.7615 149.072 5.44157C149.408 5.87513 150.401 7.75245 151.085 7.86243C151.397 7.91259 150.99 7.29903 151.04 7.02213C151.148 6.42555 151.637 5.97194 152.024 5.5016C152.526 4.88998 152.985 4.08963 153.754 3.70096C154.092 3.52983 154.448 2.74764 154.839 2.48052C155.147 2.27048 155.682 1.93861 155.902 1.58023V1C156.046 1.19134 156.019 1.38954 155.902 1.58023V53.9024H0V35.2121Z" fill="url(#paint0_linear_196_88272)"/>
              <path d="M0 35.2121C1.12193 35.7084 2.05287 36.4465 3.15467 36.9127C3.88018 37.2197 4.96816 37.139 5.33694 37.8731C5.78171 38.7584 6.41334 37.1208 6.84078 36.7427C7.35846 36.2847 8.0534 35.1306 8.75167 35.3022C11.4731 35.971 14.5286 35.7848 17.3224 35.7523C17.6226 35.7488 17.9104 35.5687 17.9104 35.8724C17.9104 36.0498 17.9868 36.5562 17.6164 36.4626C17.05 36.3194 18.9616 35.7608 19.1768 35.7523C20.6722 35.6935 21.0695 36.6678 22.2975 37.2528C23.2021 37.6838 23.2021 38.1814 23.2021 37.0128C23.2021 35.6556 24.0027 35.3695 24.8303 34.3118C25.1311 33.9274 25.4288 33.5039 25.9497 33.4015C26.5891 33.2758 27.1368 33.243 27.8154 33.2114C30.881 33.0687 33.9468 32.5976 36.9289 31.971C38.3957 31.6628 39.862 31.3127 41.2934 30.8906C41.6774 30.7773 41.6134 31.478 41.7231 31.7509C41.8505 32.068 42.5107 34.0517 42.7407 34.0517C42.8236 34.0517 42.7407 33.905 42.7407 33.8316C42.7407 33.4915 42.7407 33.1514 42.7407 32.8113C42.7407 32.182 42.8631 31.787 43.2608 31.2507C43.6045 30.7875 45.7737 28.5386 46.0989 29.21C46.4428 29.9198 46.4557 30.516 46.9696 31.1707C47.0957 31.3314 47.2004 31.786 47.2296 31.4108C47.276 30.8159 47.1736 29.3852 47.7271 28.9499C48.1423 28.6234 50.4124 33.7413 50.7913 34.4118C50.8749 34.5597 51.4545 35.7515 51.7411 35.3922C52.3142 34.674 53.4118 34.1187 54.1495 33.5815C55.9224 32.2907 57.4928 30.8434 59.1925 29.4901C59.3229 29.3863 59.8755 29.4777 59.7126 29.4201C59.1512 29.2214 59.8806 28.1863 59.984 27.9796C60.7619 26.4247 61.2675 24.79 61.8271 23.1679C62.0575 22.4997 62.6297 21.7287 62.6864 21.0271C62.7081 20.7579 62.5243 19.9876 62.8899 19.9067C63.3145 19.8128 63.0628 18.5414 63.1047 18.2261C63.168 17.7501 63.6596 18.91 63.6814 18.9464C64.3669 20.0893 64.9188 21.2579 65.5358 22.4276C65.6835 22.7077 66.0959 24.9687 66.4856 24.6784C67.4868 23.9325 68.1285 22.8128 69.1427 22.0475C70.2353 21.223 70.6307 23.3734 70.8388 23.9581C71.5045 25.829 73.5756 31.4204 72.908 29.5501C72.0659 27.1911 75.5473 27.33 76.6167 26.6891C78.3694 25.6387 78.9067 30.3861 79.9749 29.5001C80.2389 29.2812 80.3132 28.7752 80.642 28.6298C81.2229 28.3728 81.9908 29.8405 82.1798 30.1303C82.247 30.2335 82.7905 31.2581 83.0391 31.1207C83.4397 30.8992 83.5218 30.7105 84.0567 30.7105C85.5083 30.7105 85.7936 32.3676 86.2503 33.4115C86.7384 34.527 87.4071 35.1911 88.1951 36.1124C88.4976 36.4661 88.1275 35.7882 88.263 35.2321C88.6731 33.5484 89.9177 32.3477 91.248 31.1707C91.4066 31.0304 91.5497 30.6721 91.7908 30.7906C92.3756 31.078 93.0648 28.0325 93.125 27.7895C93.1857 27.5445 93.5668 24.2433 93.8713 24.2582C94.767 24.3023 95.4483 26.6541 95.7369 27.2093C95.9907 27.6972 96.2507 28.3009 96.7207 27.6394C97.5846 26.4234 97.918 24.7089 99.0047 23.648C99.0383 23.6152 105.641 22.5174 105.947 22.9178C106.347 23.4416 106.663 24.1263 107.214 24.5483C107.776 24.9795 108.692 23.1065 108.91 22.8677C109.743 21.9538 110.916 21.4318 111.85 20.627C112.32 20.2215 112.659 19.7113 113.274 19.4465C113.598 19.307 113.885 19.5045 114.066 19.7366C114.583 20.402 115.569 17.7932 115.75 17.4258C116.429 16.0492 116.594 17.5072 117.695 16.9056C120.594 15.3215 124.628 15.045 127.973 15.045C128.215 15.045 128.078 15.0317 127.973 14.9049C127.701 14.574 128.378 14.0083 128.539 13.7445C128.933 13.0974 129.068 12.261 129.353 11.5737C129.443 11.3559 129.67 10.3633 130.054 10.3633C130.72 10.3633 131.718 12.6542 131.953 13.0443C132.34 13.6843 133.31 15.8144 134.215 16.1054C134.401 16.1653 135.866 11.3414 136.058 10.8135C136.186 10.4619 136.627 9.01776 137.177 8.86279C137.448 8.78656 138.345 10.2279 138.512 10.4233C138.918 10.8994 138.501 10.5322 138.444 10.2233C138.347 9.69988 138.842 9.23517 139.326 9.00284C140.226 8.57054 141.178 9.81554 141.723 10.2333C142.357 10.7192 144.434 11.2956 144.979 10.5234C146.128 8.89668 145.725 7.5836 145.725 5.78169C145.725 5.375 146.782 4.62733 147.15 4.46123C148.144 4.01306 148.545 4.76149 149.072 5.44157C149.408 5.87513 150.401 7.75245 151.085 7.86243C151.397 7.91259 150.99 7.29903 151.04 7.02213C151.148 6.42555 151.637 5.97194 152.024 5.5016C152.526 4.88998 152.985 4.08963 153.754 3.70096C154.092 3.52983 154.448 2.74764 154.839 2.48052C155.31 2.15871 156.317 1.55092 155.902 1" stroke="url(#paint1_linear_196_8827)" stroke-linecap="round" stroke-width="1.5"/>
              <defs>
                <linearGradient id="paint0_linear_196_88272" x1="78" y1="-5.9092" x2="78" y2="53.9024" gradientUnits="userSpaceOnUse">
                  <stop offset="0.144057" stop-color="#D60F63" stop-opacity="0.22"/>
                  <stop offset="0.983952" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint1_linear_196_8827" x1="153.629" y1="4.07508" x2="9.25031" y2="54.8124" gradientUnits="userSpaceOnUse">
                  <stop offset="0.161546" stop-color="#D60F27"/>
                  <stop offset="1" stop-color="#EA0FBA"/>
                </linearGradient>
              </defs>
            </svg>
          </section>
        </article>
      </section>
    </div>

    <div class="flex items-center justify-start gap-3 mb-3">
      <div class="relative flex-none w-[300px] h-[70px] border-2 border-dashed rounded-xl border-rose-300 bg-rose-100 dark:bg-rose-500/15 dark:border-rose-600/30">
        <article class="w-full shadow-[2px_5px_13px_-4px_#c3005961_,_1px_-1px_6px_-1px_#04000024] break-inside absolute -left-3 -top-2 rotate-2 rounded-xl flex items-center justify-between overflow-hidden p-3 mb-3 text-sm bg-white dark:bg-[#000] dark:text-white dark:shadow-[2px_5px_13px_-4px_#41001e8c]" data-filter="finance">
          <header class="flex items-center gap-3">
            <div class="flex-none w-10 h-10 flex items-center justify-center rounded-full text-white bg-emerald-600">
              <span class="font-bold text-xl">B</span>
            </div>
            <div class="flex w-full flex-col">
              <h2 class="font-medium text-base">Balance</h2>
              <p class="text-xs text-gray-500">Last 30 days</p>
            </div>
          </header>
          <div class="flex items-center gap-2 flex-none">
            <svg class="text-green-600" width="61" height="26" viewBox="0 0 71 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.84302 25C2.10589 23.2857 2.63376 21.7799 3.37603 20.2188C4.66585 17.506 6.18161 14.8883 8.36827 12.846C8.73909 12.4997 9.74038 11.2944 10.2746 11.9856C11.2468 13.2436 11.5995 15.0509 12.2755 16.4783C12.4112 16.765 12.4558 17.3189 12.7632 17.2924C12.9788 17.2738 12.919 16.8745 12.9922 16.6638C13.4176 15.4388 14.1866 14.245 15.2021 13.4591C15.8166 12.9836 17.28 11.8409 18.0591 12.4699C18.9592 13.1966 19.1947 14.393 19.5324 15.4479C19.6915 15.9449 19.933 16.4229 20.1197 16.9111C20.2635 17.2872 20.3337 17.3458 20.5925 16.9832C21.4439 15.7909 22.9324 14.659 24.221 15.9322C24.5822 16.2891 24.8087 16.6538 25.316 16.3238C25.819 15.9965 25.8846 16.2426 26.1024 16.7823C26.3462 17.3863 26.6523 19.1571 27.4314 18.2558C27.5407 18.1293 28.4257 16.9081 28.6209 17.0141C29.1285 17.29 29.4078 18.3465 29.5965 18.8483C29.701 19.1262 30.0425 20.4324 30.3829 20.5331C30.4062 20.54 31.1835 17.5795 31.4082 17.2305C31.7074 16.7661 32.0531 16.3254 32.3838 15.8858C32.4852 15.751 32.9464 14.9916 33.2001 14.9121C33.2405 14.8994 33.3056 15.0713 33.3394 15.0872C33.4324 15.131 33.4707 14.9194 33.5037 14.8193C34.2366 12.5976 36.6071 8.26428 37.7531 8.26428C39.2812 8.26428 41.0354 15.9883 41.1066 15.4479C41.2045 14.705 43.3392 11.2347 43.9511 10.7955C44.7929 10.1911 45.0203 11.3227 45.4442 11.9444C45.951 12.6876 46.0957 12.2816 46.6736 11.7126C46.863 11.5261 48.1415 10.0445 48.3958 10.6048C48.8782 11.668 48.6878 13.0269 49.2569 14.0465C49.3655 14.2412 49.4946 14.5051 49.6252 14.6854C49.6934 14.7795 49.6849 14.3521 49.6849 14.2938C49.6849 14.0011 49.9091 14.5355 49.9188 14.5566C50.1151 14.9805 50.3121 15.4245 50.3121 15.9013C50.3121 15.9977 50.268 15.6829 50.332 15.6128C50.6832 15.2278 51.7191 16.8619 51.8152 17.1069C51.9673 17.4946 52.2752 18.4823 52.8007 18.5186C53.0307 18.5344 53.2542 17.6475 53.2785 17.5809C53.7287 16.3481 54.0777 15.085 54.493 13.8404C54.8921 12.6443 55.4335 11.6167 56.0559 10.543C56.3008 10.1204 56.3487 10.8085 56.4043 11.0428C56.4582 11.2702 56.5661 12.044 56.7328 11.4343C57.2918 9.38967 57.6903 7.30464 58.1961 5.2466C58.2985 4.82988 58.4156 4.41543 58.5395 4.00493C58.6137 3.75939 58.7436 4.11069 58.8033 4.22647C59.6182 5.80551 60.0344 7.56383 60.844 9.14679C61.1406 9.7266 61.0502 9.52833 61.1228 8.98192C61.2819 7.78377 61.4579 6.46232 61.8495 5.31873C62.03 4.79136 62.4806 6.03308 62.5164 6.11216C62.8185 6.77908 63.0977 7.45513 63.4223 8.1112C63.4726 8.21289 63.9155 9.30092 64.139 9.32196C64.1588 9.32383 64.5743 7.54237 64.6119 7.42081C64.9229 6.4135 65.4358 5.74578 65.9806 4.88595C66.0777 4.73275 66.1627 4.43125 66.3191 4.31921C66.5398 4.16104 66.683 4.14979 66.8218 3.88643C66.947 3.64872 68.2977 0.934385 68.519 1.00121C68.6776 1.04909 68.6389 1.14287 68.6982 1.25882C68.762 1.38358 68.9822 1.42638 69.0815 1.53704C69.4438 1.94089 69.843 2.02158 69.843 2.64991" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
            </svg>
            <span class="font-bold text-base">€ 654</span>
          </div>
        </article>
      </div>
    </div>


  </div>


</div>